
.form1
{
    margin: 10px;
}
.two
{
    margin-top: 10px;
}

.three
{

    margin-top: 10px;
}

.four
{
    margin-top: 10px;
}
.btn1
{
    margin-top: 10px;
}
.text1
{
    padding:5px;
}
.btn2
{
    padding:4px;
}
